h1{
	margin-top: 0;
 }

#header1 {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../images/photo_2020-08-11_13-35-16.jpg");
	width: 100%;
}	

.navbar{
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	padding-top: 0.3rem;
	padding-right: 0rem;
	padding-bottom: 0.3rem;
	padding-left: 0rem;
}

.navbar-nav{
  display: flex;
  justify-content: center;
  padding-left: 1rem; 
}

.nav-item-icon{
	padding-right: 2rem;
	
}

.nav-link.customName{
	font-family: 'Press Start 2P', cursive;
	color:#e1e6df !important;
	font-size: 12px;
	margin: 0px 0.5rem;
}

.nav-link.customName:hover{
	/*font-family: roboto;*/
	color:black !important;
	background-color: #e1e6df;
	border-radius: 10px;
	font-size: 12.5px;
	box-shadow: 0px 0px 2px 2px #ff0707 ;
}

.fa{
	color:black;
	padding: 0 2px 0 2px;
}

.fa.fa-github:hover{
	color:#2f2f2f;
}

.fa.fa-instagram:hover{
	background: linear-gradient(45deg,#ebc334,#eb3434,#b01997 );
	-webkit-background-clip: text;
	background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa.fa-facebook-square:hover{
	color:#3b5998 ;
}

.fa.fa-youtube-play:hover{
	color:#FF0000;
}

#sticky-footer{
	width: 100%;
}

#footer-content{
	background-color: #ee6e73;
	width: 100%;
	display: flex;
	flex-direction:column;
}

.row{
	flex-wrap: nowrap;
	overflow-x: auto;
	margin-left: 0px;
	margin-right: 0px;
  	white-space: nowrap;
}

