{%load static%}
<!DOCTYPE html>
<html>
	<head>
		<title>Team Endurance Racing</title>
		<link rel="icon" href= "{% static 'blog/images/logoTER.png' %}" type="image/icon type">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
		{%block css%}
		{%endblock css%}

	</head>
	<body>
		<header id='header1'>
		 	<nav class="navbar navbar-expand flex-column flex-md-row bd-navbar" >
			  <!-- <a class="navbar-brand" href="#"></a> -->
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>  
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				<a class="navbar-brand" href="#">
					<img src="{% static 'blog/images/logoTER.png' %}" width="150" height="70" alt="">
				</a>
				<ul class="navbar-nav bd-navbar-nav flex-row">
					<li class="nav-item active ">
						<a class="nav-link customName" href="{%url 'blog-home'%}"> Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link customName" href="{%url 'blog-our-sponsors'%}">Our Sponsors</a>
					</li>
					<li class="nav-item">
						<a class="nav-link customName" href="{%url 'blog-gallery'%}">Gallery</a>
					</li>
					<li class="nav-item">
						<a class="nav-link customName" href="{%url 'blog-our-journey'%}">Our Journey</a>
					</li>
					<li class="nav-item">
						<a class="nav-link customName" href="{%url 'blog-about-us'%}">About Us</a>
					</li>
				</ul>
				<ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
					<li class="nav-item-icon">
						<a class="nav-link p-2" href="https://github.com/twbs/bootstrap" target="_blank" rel="noopener" aria-label="GitHub" title="Github">
							<i class="fa fa-github" style="font-size:30px"></i>
					    </a>
					</li>
					<li class="nav-item-icon">
						<a class="nav-link p-2" href="https://twitter.com/getbootstrap" target="_blank" rel="noopener" aria-label="Instagram" title="Instagram">
							<i class="fa fa-instagram" style="font-size:30px"></i>
					   </a>
					</li>
					<li class="nav-item-icon">
						<a class="nav-link p-2" href="https://bootstrap-slack.herokuapp.com" target="_blank" rel="noopener" aria-label="Facebook" title="Facebook">
							<i class="fa fa-facebook-square" style="font-size:30px"></i>
						</a>
					</li>
					<li class="nav-item-icon">
						<a class="nav-link p-2" href="https://bootstrap-slack.herokuapp.com" target="_blank" rel="noopener" aria-label="YouTube" title="YouTube">
							<i class="fa fa-youtube-play" style="font-size:30px"></i>
						</a>
					</li>
			  </ul>
			  </div>	
			</nav>
			{%block arrow%}
            {%endblock arrow%}
            {%block content%}
            {%endblock content%}
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script src="{% static 'blog/js/main.js' %}"></script>
	</body>
	<footer class="page-footer">
		<div id="footer-content">
					<div  class="row justify-content-md-center">
						<div class="col-sm l6 s12">
							<h5 class="white-text">Footer Content</h5>
							<p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
						</div>
						<div class="col-sm l4 offset-l2 s12">
							<h5 class="white-text">Links</h5>
							<ul>
								<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
								<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
								<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
								<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
							</ul>
						</div>
					</div>
		</div>
		<div class="footer-copyright">
					<div class="container">
					© 2020 Endurance Racing
					<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
					</div>
		</div>
	</footer>
</html>